---
import { getCollection } from 'astro:content';
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import FormattedDate from '../../../components/FormattedDate.astro';
import { SITE_TITLE } from '../../../consts';

export async function getStaticPaths() {
	const posts = (await getCollection('blog')).filter((post) => !post.data.draft);
	const monthsSet = new Set();
	
	posts.forEach(post => {
		const date = post.data.pubDate;
		const year = date.getFullYear().toString();
		const month = (date.getMonth() + 1).toString().padStart(2, '0');
		monthsSet.add(`${year}-${month}`);
	});

	return Array.from(monthsSet).map(key => {
		const [year, month] = key.split('-');
		return {
			params: { year, month },
		};
	});
}

const { year, month } = Astro.params;

const posts = (await getCollection('blog')).filter((post) => !post.data.draft).filter(post => {
	const date = post.data.pubDate;
	return date.getFullYear().toString() === year && (date.getMonth() + 1).toString().padStart(2, '0') === month;
}).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const monthName = new Date(parseInt(year), parseInt(month) - 1, 1).toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' });
const displayTitle = `Arquivo: ${monthName.charAt(0).toUpperCase() + monthName.slice(1)}`;
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<BaseHead title={`${displayTitle} - ${SITE_TITLE}`} description={`Arquivo de notícias de ${monthName}`} />
		<style>
			main {
				width: 960px;
				max-width: 100%;
				margin: 0 auto;
				padding: 2rem 1rem;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
				width: 100%;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1 style="text-align: center; margin-bottom: 2rem;">{displayTitle}</h1>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>
								{post.data.heroImage && (
									<img width="720" height="360" src={post.data.heroImage} alt="" loading="lazy" />
								)}
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
